@font-face {
    font-family: KHMenu;
    src: url(../fonts/KHMenu.otf) format("opentype");
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: KHGummi;
    src: url(../fonts/KHGummi.otf) format("opentype");
    font-style: normal;
    font-display: block
}



body {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1,h2,h3,h4,h5 {
    font-family: KHGummi;
}


ul {
    padding: 2rem;
    width: auto;
    font-family: KHMenu;
    text-align: start;
}

footer {
    padding: 4rem 0 0 0;
    text-align: start;
}




.hex-pattern-container {
    background-color: yellow;
    background-repeat: repeat;
    background-image: url('../img/ziva hex pattern crop.png');
    background-size: 80px;

    border-width: 2px;
    border-style: solid;

    padding: 0 !important;
}

.flexible-width {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.fw-70-100 {
    min-width: 70%;
    max-width: 100%;
}
.fw-60-90 {
    min-width: 60%;
    max-width: 90%;
}

.opaque-blue {
    background: rgba(204, 255, 255, 0.7);
}
.opaque-yellow {
    background: rgba(254, 207, 48, 0.7);
}

.hex-pattern-contents {
    margin: 0 !important;
}